:host {
  font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.content {
  display: flex;
  margin: 20px auto 32px;
  padding: 0 16px;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.hasSubDirs {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.title {
    font-size: 150%;
    line-height: 260%;
}

.actions
{
    margin-top: 1em;
    text-align: center;
}

.input-control{
    margin: 3px 6px;
    min-width: 15em;
}

.button{
    margin: 3px 6px;
}

form > label {
    display: inline-block;
    min-width: 10em;
}

.ng-invalid {
    outline: 2px solid red;
}


